<%= form_with url: url, method: :post, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' %>
<h2 class="block text-gray-700 text-lg font-bold mb-4">Questions: </h2>
<% @wizard.current_step.fields.each do |field| %>
  <% case field.type %>
  <% when 'text', 'number' %>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="<%= field.id %>">
      <%= field.label %>
    </label>
    <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="<%= field.id %>" type="<%= field.type %>" value="<%= field.value %>" required=<%= field.required %>>
    </div>
    <% when 'radio' %>
    <div class="flex flex-col">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="<%= field.id %>">
        <%= field.label %>
      </label>
      <% field.choices.each do |choice| %>
        <label class="inline-flex items-center mt-3">
          <input name="<%= field.id %>" value="<%= choice.value %>" type="radio" class="form-radio h-5 w-5 text-gray-600" <%= field.value == choice.value ? 'checked' : '' %>><span class="ml-2 text-gray-700"><%= choice.label %></span>
        </label>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="mb-6"></div>
<div class="flex items-center justify-between">
  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href='<%= "?step=#{@step - 1}" %>'>
    <%= @wizard.current_index > 0 ? 'Back' : '' %>
  </a>
  <button type="submit" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" >
    <%= @wizard.last_step? ? 'Submit' : 'Next' %>
  </button>
</div>
